.App {
  text-align: center;
}

form{
  text-align: center;
}
.outer-box{
  display: inline-flex;
  width: 80%;
  border: 2px solid black;
}
.data-box{
  color: white;
  background-color: black;
  padding: 0.8em;
  border-radius: 1em;
  border: 2px solid black;
}
body{
  background: linear-gradient(white,gray,white);
}
input{
  padding: 0.4em;
  border-radius: 1em;
}
button{
  padding: 0.5em;
  width: 20%;
  border-radius: 1em;
  margin-bottom:1.8em;
}